body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#homeHeading {
  color: black;
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
  position: fixed;
}

main {
  flex: 1 0 auto;
  background-color: #56CC9D;
}

.footer {
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #56CC9D;
  color: white;
  text-align: center;
}

.card {
  height: 600px;
  max-width: 400px;
  margin: 0 auto;
}

.fab {
  color: #FFFFFF;
}

.fa-facebook-square {
  color: #3B5998;
}

.fab:hover {
  color: #CCCCCC;
}

.fa-facebook-square:hover {
  color: #8B9DC3;
}
