.navbar .navbar-expand-lg .navbar-dark .bg-primary {
  position: fixed;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #56CC9D;
  color: white;
  text-align: center;
}
