body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #56CC9D;
  color: white;
  text-align: center;
}

#map {
  height: 400px;
  width: 100%
}

.marker {
  background-image: url('../img/marker.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 600px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fab {
 color: #FFFFFF;
}

.fa-facebook-square {
  color: #3B5998;
}

.fab:hover {
  color: #CCCCCC;
}

.fa-facebook-square:hover {
  color: #8B9DC3;
}

#homeBackground {
  background-color: #56CC9D;
  height: 950px;
}

#homeHeading {
  color: black;
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}

.card {
  margin-left: 150px;
  margin-right: 150px;
  display: inline-block;
  height: 700px;
}

#greenCard {
  float: right;
}
