.card {
  width: 15rem;
  height: auto;
}

.basket {
  float: left;

  /* Make it sticky to the bottom */
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

#products-container {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 10px;
  list-style-type: none;
  list-style-position: inside;
}
