#products-container {
  display: flex;
  width: 750px;
}

.card {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: block;
  width: 18rem;
}

ul {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 10px;
  list-style-type: none;
  list-style-position: inside;
}
